.container {
}

.editor {
  display: flex;
  gap: 20px;
  flex-direction: column;
  height: 700px;
  position: relative;
}

.button,
.addButton {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: lightgray;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addButton {
  background-color: lightgray;
  border: none;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  left: 75px;
}

.input {
  padding: 50px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
}

.input::placeholder {
  color: #b3b3b1;
}

.textArea {
  width: 100%;
}

.save {
  position: absolute;
  top: 30px;
  right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
}
